In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
apple = pd.read_csv('../data/apple_health_export/ActiveEnergyBurned.csv')

/var/folders/s4/79ykyqjn7f16bdl_zqjgsbzh0000gp/T/ipykernel_68998/3312075173.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  apple = pd.read_csv('../data/apple_health_export/ActiveEnergyBurned.csv')

In [3]:
apple = apple.astype({'startDate': 'datetime64[ns]','endDate': 'datetime64[ns]'})

In [4]:
apple['diff'] = apple['endDate'] - apple['startDate']

In [5]:
apple.drop(columns=['sourceName','sourceVersion','device','type', 'creationDate'], inplace= True)

In [6]:
apple.head(50)

    unit           startDate             endDate  value            diff
0   kcal 2016-05-28 08:00:00 2016-05-28 08:36:00  239.0 0 days 00:36:00
1   kcal 2020-11-05 13:40:00 2020-11-05 13:49:59    1.0 0 days 00:09:59
2   kcal 2020-11-05 15:30:00 2020-11-05 15:39:59    1.0 0 days 00:09:59
3   kcal 2020-11-05 15:40:00 2020-11-05 15:49:59    3.0 0 days 00:09:59
4   kcal 2020-11-05 15:50:00 2020-11-05 15:59:59    2.0 0 days 00:09:59
5   kcal 2020-11-05 16:20:00 2020-11-05 16:29:59    2.0 0 days 00:09:59
6   kcal 2020-11-05 16:30:00 2020-11-05 16:39:59    2.0 0 days 00:09:59
7   kcal 2020-11-05 17:00:00 2020-11-05 17:09:59    1.0 0 days 00:09:59
8   kcal 2020-11-05 17:10:00 2020-11-05 17:19:59    3.0 0 days 00:09:59
9   kcal 2020-11-05 17:30:00 2020-11-05 17:39:59    2.0 0 days 00:09:59
10  kcal 2020-11-05 17:40:00 2020-11-05 17:49:59    1.0 0 days 00:09:59
11  kcal 2020-11-05 17:50:00 2020-11-05 17:59:59    2.0 0 days 00:09:59
12  kcal 2020-11-05 18:00:00 2020-11-05 18:09:59    2.0 0 days 00:09:59
13  kcal 2020-11-08 23:00:00 2020-11-08 23:09:59    2.0 0 days 00:09:59
14  kcal 2020-11-09 23:00:00 2020-11-09 23:09:59    1.0 0 days 00:09:59
15  kcal 2020-11-06 23:30:00 2020-11-06 23:39:59    2.0 0 days 00:09:59
16  kcal 2020-11-06 23:40:00 2020-11-06 23:49:59    1.0 0 days 00:09:59
17  kcal 2020-11-06 23:50:00 2020-11-06 23:59:59    1.0 0 days 00:09:59
18  kcal 2020-11-07 06:10:00 2020-11-07 06:19:59    1.0 0 days 00:09:59
19  kcal 2020-11-07 06:40:00 2020-11-07 06:49:59    1.0 0 days 00:09:59
20  kcal 2020-11-07 06:50:00 2020-11-07 06:59:59    1.0 0 days 00:09:59
21  kcal 2020-11-07 07:10:00 2020-11-07 07:19:59    1.0 0 days 00:09:59
22  kcal 2020-11-08 07:20:00 2020-11-08 07:29:59    1.0 0 days 00:09:59
23  kcal 2020-11-07 07:30:00 2020-11-07 07:39:59    2.0 0 days 00:09:59
24  kcal 2020-11-08 07:30:00 2020-11-08 07:39:59    4.0 0 days 00:09:59
25  kcal 2020-11-08 07:40:00 2020-11-08 07:49:59    2.0 0 days 00:09:59
26  kcal 2020-11-07 07:50:00 2020-11-07 07:59:59    1.0 0 days 00:09:59
27  kcal 2020-11-08 07:50:00 2020-11-08 07:59:59    5.0 0 days 00:09:59
28  kcal 2020-11-08 08:00:00 2020-11-08 08:09:59    4.0 0 days 00:09:59
29  kcal 2020-11-06 08:20:00 2020-11-06 08:29:59    1.0 0 days 00:09:59
30  kcal 2020-11-08 08:20:00 2020-11-08 08:29:59    1.0 0 days 00:09:59
31  kcal 2020-11-08 08:30:00 2020-11-08 08:39:59    1.0 0 days 00:09:59
32  kcal 2020-11-06 08:50:00 2020-11-06 08:59:59    1.0 0 days 00:09:59
33  kcal 2020-11-08 09:00:00 2020-11-08 09:09:59    1.0 0 days 00:09:59
34  kcal 2020-11-08 09:20:00 2020-11-08 09:29:59    1.0 0 days 00:09:59
35  kcal 2020-11-08 09:30:00 2020-11-08 09:39:59    4.0 0 days 00:09:59
36  kcal 2020-11-10 09:40:00 2020-11-10 09:49:59    1.0 0 days 00:09:59
37  kcal 2020-11-08 09:50:00 2020-11-08 09:59:59    3.0 0 days 00:09:59
38  kcal 2020-11-09 09:50:00 2020-11-09 09:59:59    1.0 0 days 00:09:59
39  kcal 2020-11-10 09:50:00 2020-11-10 09:59:59    1.0 0 days 00:09:59
40  kcal 2020-11-06 10:00:00 2020-11-06 10:09:59    1.0 0 days 00:09:59
41  kcal 2020-11-08 10:00:00 2020-11-08 10:09:59    3.0 0 days 00:09:59
42  kcal 2020-11-10 10:00:00 2020-11-10 10:09:59    1.0 0 days 00:09:59
43  kcal 2020-11-07 10:20:00 2020-11-07 10:29:59    1.0 0 days 00:09:59
44  kcal 2020-11-10 10:20:00 2020-11-10 10:29:59   10.0 0 days 00:09:59
45  kcal 2020-11-07 10:30:00 2020-11-07 10:39:59    2.0 0 days 00:09:59
46  kcal 2020-11-08 10:30:00 2020-11-08 10:39:59    1.0 0 days 00:09:59
47  kcal 2020-11-10 10:30:00 2020-11-10 10:39:59    9.0 0 days 00:09:59
48  kcal 2020-11-08 10:40:00 2020-11-08 10:49:59    1.0 0 days 00:09:59
49  kcal 2020-11-10 10:40:00 2020-11-10 10:49:59   12.0 0 days 00:09:59

In [7]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336135 entries, 0 to 336134
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   unit       336135 non-null  object
 1   startDate  336135 non-null  datetime64[ns]
 2   endDate    336135 non-null  datetime64[ns]
 3   value      336135 non-null  float64
 4   diff       336135 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(1), timedelta64[ns](1)
memory usage: 12.8+ MB

In [8]:
apple['diff'][0].seconds/60

36.0

In [9]:
apple.value[0]/(apple['diff'][0].seconds/60)

6.638888888888889

In [10]:
apple['cal_min']=[apple.value[i]/(apple['diff'][i].seconds/60) for i in range(len(apple))]

apple.head()

,unit,startDate,endDate,value,diff,cal_min
0,kcal,2016-05-28 08:00:00,2016-05-28 08:36:00,239.0,0 days 00:36:00,6.638889
1,kcal,2020-11-05 13:40:00,2020-11-05 13:49:59,1.0,0 days 00:09:59,0.100167
2,kcal,2020-11-05 15:30:00,2020-11-05 15:39:59,1.0,0 days 00:09:59,0.100167
3,kcal,2020-11-05 15:40:00,2020-11-05 15:49:59,3.0,0 days 00:09:59,0.300501
4,kcal,2020-11-05 15:50:00,2020-11-05 15:59:59,2.0,0 days 00:09:59,0.200334

In [11]:
apple.drop(columns=['value','unit'], inplace= True)

In [12]:
apple.head()

            startDate             endDate            diff   cal_min
0 2016-05-28 08:00:00 2016-05-28 08:36:00 0 days 00:36:00  6.638889
1 2020-11-05 13:40:00 2020-11-05 13:49:59 0 days 00:09:59  0.100167
2 2020-11-05 15:30:00 2020-11-05 15:39:59 0 days 00:09:59  0.100167
3 2020-11-05 15:40:00 2020-11-05 15:49:59 0 days 00:09:59  0.300501
4 2020-11-05 15:50:00 2020-11-05 15:59:59 0 days 00:09:59  0.200334

In [17]:
prueba = apple.loc[(apple['diff'] <= '0 days 00:36:00') & (apple['diff'] > '0 days 00:01:59')]

In [20]:
prueba.set_index('startDate', inplace=True)

In [32]:
prueba.head()

                                endDate            diff   cal_min
startDate
2016-05-28 08:00:00 2016-05-28 08:36:00 0 days 00:36:00  6.638889
2020-11-05 13:40:00 2020-11-05 13:49:59 0 days 00:09:59  0.100167
2020-11-05 15:30:00 2020-11-05 15:39:59 0 days 00:09:59  0.100167
2020-11-05 15:40:00 2020-11-05 15:49:59 0 days 00:09:59  0.300501
2020-11-05 15:50:00 2020-11-05 15:59:59 0 days 00:09:59  0.200334

In [38]:
prueba.loc[['2016-05-28 08:00:00']].index

DatetimeIndex(['2016-05-28 08:00:00'], dtype='datetime64[ns]', name='startDate', freq=None)

In [39]:
prueba.drop(prueba.loc[['2016-05-28 08:00:00']].index, axis=0, inplace=True)

/var/folders/s4/79ykyqjn7f16bdl_zqjgsbzh0000gp/T/ipykernel_68998/1515334522.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prueba.drop(prueba.loc[['2016-05-28 08:00:00']].index, axis=0, inplace=True)

In [46]:
prueba.reset_index(inplace=True)

In [44]:
minutos = prueba.resample('T').mean()

In [50]:
minutos.head()

                      cal_min
startDate
2020-11-05 13:40:00  0.100167
2020-11-05 13:41:00       NaN
2020-11-05 13:42:00       NaN
2020-11-05 13:43:00       NaN
2020-11-05 13:44:00       NaN

In [49]:
mask = (prueba.startDate >= pd.Timestamp(prueba['startDate'][0])) & (prueba.endDate <= pd.Timestamp(prueba['endDate'][0]))
display(minutos.loc[mask])

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).